.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
    margin-left: -12px;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  #menuName{
      font-family: 'Times New Roman', Times, serif;
      font-size: larger;
      color: black;
  }

  .menuFont{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black;
  }

  .mat-tab-label-content{
      color: white;
  }